name: Generate Datas
on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Créer le dossier dist si nécessaire
      - name: Create dist folder
        run: mkdir -p dist

      # Générer l'animation Snake
      - uses: Platane/snk@master
        with:
          github_user_name: Loic1363
          svg_out_path: dist/github-contribution-grid-snake.svg

      # Déployer sur GitHub Pages
      - uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
